/* ===========================
   APP
=========================== */

main{
    width:100%;
    overflow:hidden;
}

/* Section spacing */

section{
    scroll-margin-top:100px;
}

/* Smooth scrolling */

html{
    scroll-behavior:smooth;
}

/* Images */

img{
    max-width:100%;
    display:block;
}

/* Links */

a{
    text-decoration:none;
}

/* Buttons */

button{
    font-family:inherit;
}